* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.themebackground {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.completed {
  text-decoration: line-through;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: xx-large;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
}

.themebutton {
  position: fixed;
  right: 1em;
}
